html,body{
	height: 100%;
}


body{
	margin:0;
  padding:0;
  -webkit-user-select: none;
	-webkit-touch-callout:none;
	-webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
	background-color: #111213;	
	font-family: Arial, Helvetica, sans-serif;
}

.container{
  height: 100%;
	display: block;
	overflow-x: hidden;
  overflow-y: scroll;
  
        &.display-initial{
          -webkit-overflow-scrolling: touch;
        }
  
        &.display-drawer .drawer{
          transform: translate3d(0,0,0);
          -webkit-transform: translate3d(0,0,0);
        }

        &.display-drawer .main .blocker,
        &.display-preview .main .blocker{
          display:flex;
        }

        &.display-drawer .main{
          position: fixed;
          transform: translate3d(300px,0,0);
          -webkit-transform: translate3d(300px,0,0);
        }

        &.display-drawer .main .contents .panels{
          justify-content:flex-start;
        }

        &.display-preview .main .blocker .preview{
          display: block;
        }

        &.display-drawer .main .contents .panels li,
        &.display-preview .main .contents .panels li{
          -webkit-filter: blur(3px);
          filter: blur(3px);
        }

    .drawer{
      top:0;
      left:0;
      height: 100%;
      width: 300px;
      display: block;
      position: fixed;
      text-align: center;
      overflow-y: scroll;
      background-color: #1d1f22;
      transition:400ms ease-in-out;
      -webkit-transition:400ms ease-in-out;
      transform: translate3d(-300px,0,0);
      -webkit-transform: translate3d(-300px,0,0);

      .close{
        top:16px;
        right: 15px;
        color:#5f5f5f;
        cursor: pointer;
        font-size: 18px;
        position:absolute;

        &:hover{
          color:#ff8802;
        }

      }
      

    }

    .main{
      width: 100vw;
      height: 100vh;
      display: block;
      position:relative;
      background-color: #121212;
      transition: 400ms ease-in-out;
      -webkit-transition: 400ms ease-in-out;

      .blocker{
        top:0;
        left:0;
        right:0;
        bottom:0;
        height: 100%;
        z-index: 100;
        display: none;
        cursor: pointer;
        position: fixed;
        text-align: center;
        align-items: center;
        background-color: rgba(0,0,0,0.7);

        .blocker-display{
          display:none;
        }

          .preview{
            margin:10px;
            width:100%;

            img{
              width: 100%;
              max-width: 1024px;
            }

          }


      }

      .header{
        top:0;
        left:0;
        right:0;
        z-index: 99;
        height: 50px;
        display: flex;
        padding:0 10px;
        position: fixed;
        align-items: center;
        background-color: #1d1f22;
        justify-content: space-between;
        box-shadow: 0px 20px 40px -20px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 20px 40px -20px rgba(0, 0, 0, 0.75);

        .menu{
          color:#5f5f5f;
          cursor:pointer;
          font-size: 24px;
          font-family: "va";

          &:hover{
            color:#ff8802;
          }  

        }

        .logo{
          width: 48px;
          height: 30px;
          display: inline-block;
          background-size: 100% auto;
          background-image: url('../img/visual-assemblage-logo.svg');
        }


        .tools{

          .search{

            input{
              width:160px;
              outline: none;
              color:#5f5f5f;
              font-size: 12px;
              padding:5px 10px;
              border:1px solid #232323;
              background-color: #111213;

              &:focus{
                border: 1px solid #2f2f2f;
              }

            }
            

          }

        }

      }

      .contents{
        padding:60px 0px 10px 0px;

        .loading,
        .nothing{
          color:#333;
          height: 90vh;
          display: flex;
          font-size: 24px;
          font-weight:bold;
          align-items: center;
          justify-content: center;
        }

        .panels{
          margin:0;
          padding:0;
          display: flex;
          flex-flow: row wrap; 
          justify-content:center;
        

          li{
            padding: 0;
            margin:10px;
            width:320px;
            height: auto;
            list-style: none;
            position: relative;
            display: inline-block;

            &.display-info .cover,
            &.display-qrcode .cover{
                display: block
            }

            .cover{
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              z-index: 1;
              height: 480px;
              display: none;
              cursor: pointer;
              position: absolute;
              background-color: rgba(0, 0, 0, 0.75);

              .displayer{
                flex: 1;
                color:#fff;
                padding:10px;
                display: flex;
                height: 480px;
                align-items: center;
                justify-content: center;

                &.display-type-info .information,
                &.display-type-qrcode .qrcode{
                  display: block;
                }

                .inner-display{
                  display: none;
                }

                .qrcode{

                  img{
                    width:150px;
                    border: 5px solid #fff;
                  }

                  p{
                    font-size: 12px;
                    text-align: center;
                    text-transform: uppercase;
                  }

                }

                .information{
                  font-size: 14px;
                  line-height: 1.5em;
                  text-align: justify;
                }

              }

            }

            .poster{
              width:320px;
              height: 480px;
              display: block;
              overflow: hidden;
              background-color: #1d1f22;
              background-size:1020px auto;
              background-position: top center;
              transition:100ms ease-in-out;
              -webkit-transition:100ms ease-in-out;
            }

            .info{     
              padding:10px 0;
              display: block;
              text-align: left;


              .title,
              .category{
                width: 150px; 
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis; 
              }

              .title{
                color:#ff8802;
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
              }

              .category{
                color:#ccc;
                font-size: 12px;
                padding-top: 5px;
              }
              
            }


            .widgets{
              right:0;
              margin:0;
              padding:0;
              bottom: 12px; 
              position: absolute;

              a,
              span{
                width:30px;
                padding: 0;
                height: 30px;
                color:#cccccc;
                outline: none;
                cursor: pointer;
                line-height: 36px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                text-decoration: none;
                background-color: #1d1f22;
                margin:0 0 0 2px !important;
                transition:100ms ease-in-out;
                -webkit-transition:100ms ease-in-out;

                   &.active,
                   &:hover{
                    color:#1d1f22;
                    background-color: #ff8802;
                   } 

              }

            }
            

          }

        }
    
      }

      .footer{
        color:#333;
        padding:10px;
        display: block;
        font-size: 11px;
        text-align: center;
      }


    }
}

@media only screen and (max-width : 320px) {
	
	.contents{
		zoom: 90%;
	}
	
	.panels li{
		margin:5px 0px;
	}
	
	.widgets{
		right:10px;
	}
	
	.info{
		padding:10px;
	}
	
}